<header>
    <div class="container header-container">
        <a class="logo" href="#">LOGO</a>

        <ul class="ul-links header-item">
            <li><a href="#">Home</a></li>
            <li><a href="#">Posts</a></li>
            <li><a href="#">About</a></li>
        </ul>

        <div class="user-info header-item">
            <!-- Não logado -->
            <!-- <a href="#">Login</a>
            <a href="#">Cadastre-se</a> -->
             
            <!-- Logado -->
            <a class="new-post-button" href="#">Novo post</a> <!-- Somente se superuser -->
            <img class='profile-picture' src="https://yt3.ggpht.com/yti/ANjgQV-szCz36v6jSXnFCI5Ih-HWlXki7TrLC8yIA_qMdPZQ8b9s=s88-c-k-c0x00ffffff-no-rj" alt="User profile picture">
        </div>
    </div>
</header>