<div class="post-card">
    <a href="#"><img class="" src="https://i.pinimg.com/564x/8d/33/80/8d3380e3d13f368c156df01ada661766.jpg" alt=""></a>
    <a href="#"><p class="post-title post-info">Post title</p></a>

    <p class="summary post-info">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, dolorum incidunt ea accusamus, soluta harum voluptatum...
    </p>
    <p class="post-tags post-info">
        Tags:
        <a href="#" class="post-tag">Tag-01</a>
        <a href="#" class="post-tag">Tag-02</a>
        <a href="#" class="post-tag">Tag-03</a>
    </p>
</div>