<div class="post-card">
    {% if post.cover %}
        <a href="{% url "blog:post" post.slug %}"><img class="post-image" src='{{ post.cover.url }}' alt=""></a>
    {% else %}
        <a href="/media/default/post-no-img.jpg"><img class="post-image" src='{{ post.cover.url }}' alt=""></a>

    {% endif %}
    <a href="{% url "blog:post" post.slug %}"><p class="post-title post-info">{{ post.title }}</p></a>

    <p class="summary post-info">
        {{ post.summary }}
    </p>

    {% if post.category %}
    <p class="post-categories post-info">
        Category:
        <a href="{% url "blog:category" post.category.slug %}" class='post-category'>{{ post.category.title }}</a>
    </p>
    {% endif %}

</div>