<div class="post-card">
    {% if post.cover %}
        <a href="{% url "blog:post" post.slug %}"><img class="post-image" src='{{ post.cover.url }}' alt=""></a>
    {% else %}
        <a href="/media/default/post-no-img.jpg"><img class="post-image" src='{{ post.cover.url }}' alt=""></a>

    {% endif %}
    <a href="{% url "blog:post" post.slug %}"><p class="post-title post-info">{{ post.title }}</p></a>

    <p class="summary post-info">
        {{ post.summary }}
    </p>

    {% if user in post.likes.all %}
        <div class="post-like">
            <a href="{% url "blog:like" post.id %}" class='like-button' data-url="{% url 'blog:like' post.id %}">
                <i class="fa-solid fa-heart fa-xl liked"></i> <span class='likes-count'> {{post.likes.count}} </span>
            </a>
        </div>

    {% else %}
        <div class="post-like">
            <a href="{% url "blog:like" post.id %}" class='like-button' data-url="{% url 'blog:like' post.id %}">
                <i class="fa-regular fa-heart fa-xl"></i> <span class='likes-count'> {{post.likes.count}} </span>
            </a>    
        </div>
    {% endif %}


</div>

<script>
    $.ajaxSetup({
        headers: {
            "X-CSRFToken": '{{ csrf_token }}'
        }
    });
    
    $(document).ready(function() {
        $('.like-button').click(function(event) {
            event.preventDefault(); // Evita o comportamento padrão do link
            
            var button = $(this);
            var url = button.data('url'); // Pega a URL do botão
            var icon = button.find('i'); // Encontra o ícone dentro do botão
    
            $.ajax({
                url: url,
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    // Atualiza o estado do ícone
                    if (response.liked) {
                        icon.removeClass('fa-regular').addClass('fa-solid liked');
                    } else {
                        icon.removeClass('fa-solid liked').addClass('fa-regular');
                    }
    
                    // Atualiza a contagem de likes
                    button.find('.likes-count').text(response.like_count);
                },
                error: function() {
                    alert('Ocorreu um erro. Tente novamente.');
                }
            });
        });
    });
</script>