{% include "blog/partials/_head.html" %}
</head>
<body>
    
    {% include "blog/partials/_header.html" %}
    
    <main>
        <div class="container main-content">
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
            {% include "blog/partials/_post-card.html" %}
        </div>
    </main>

    {% include "blog/partials/_footer.html" %}
</body>
</html>