{% include "blog/partials/_head.html" %}
</head>
<body>

    {% include "blog/partials/_header.html" %}

    <main style='margin-top:0 ;'>
        <div class="container post-content">
            <div class="cover-image">
                <img class="post-background" src="https://i.pinimg.com/736x/26/45/d3/2645d3112b6b100e35a3e7df715ca15b.jpg" alt="">
            </div>
            <div class="infos">
                <p><a href="#">Berando</a></p>
                <p class="post-tags post-info">
                    <a href="#" class="post-tag">Tag-01</a>
                    <a href="#" class="post-tag">Tag-02</a>
                    <a href="#" class="post-tag">Tag-03</a>
                </p>
            </div>

            <p class="inner-post-title" >Post Title</p>
            <p class="inner-post-summary" >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero, dolorum incidunt ea accusamus, soluta harum voluptatum...</p>
    </main>

    {% include "blog/partials/_footer.html" %}
</body>
</html>