<header>
    <div class="container header-container">
        <a class="logo" href="{% url "blog:index" %}">LOGO</a>

        <ul class="ul-links header-item">
            <li><a href="{% url "blog:index" %}">Home</a></li>
            {% if user.is_superuser %}
                <li><a href="{% url "blog:creator" user.id %}">Posts {{user.id}}</a></li>
            {% endif %}
            <li><a href="#">About</a></li>
        </ul>

        <div class="user-info header-item">
            {% if user.is_superuser %}
                <a class="highlight-button" href="{% url "blog:create_post" %}">Novo post</a>
            {% endif %}

            {% if not user.is_authenticated %}
                <a href="#">Login</a>
                <a href="{% url "blogUser:create" %}" class='highlight-button'>Cadastre-se</a>
            {% else %}
                <a class="pfp-a" href="{% url "blogUser:info" %}"><img class='profile-picture' src="{{ user.profile_picture.url }}" alt="User profile picture"></a>
            {% endif %}
            
        </div>
    </div>
</header>