{% include "global/partials/_head.html" %}
</head>
<body>

    {% include "global/partials/_header.html" %}

    <main>
        
        <div class="container form-content">
            <a class="back-button" href="javascript:history.back()"><i class="fa-solid fa-backward fa-2xl"></i></a>
            <form method="post" enctype="multipart/form-data" novalidate action="">
                {% csrf_token %}
                {% for field in form %}

                    <div class="form-group">
                        
                        <label>{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">{{ field.errors }}</div>
                        {% endif %}

                        {% if field.help_text %}
                            <span class="help-text"> {{ field.help_text }} </span>
                        {% endif %}

                    </div>

                {% endfor %}

            <button class='button submit-button' type="submit">Enviar</button>
            </form>
        </div>
    </main>

    {% include "global/partials/_footer.html" %}

</body>
<script>
    $(document).ready(function() {
        $('#id_category').select2({
            tags: true,  // Permitir a adição de novas categorias
            placeholder: 'Selecione ou adicione uma nova categoria',
            allowClear: true
        });
    });
    
</script>
</html>